<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <script src="scripts/agora.js"></script> -->
    <link rel="stylesheet" href="/styles/common.css">
    <link rel="stylesheet" href="/styles/dashboard-style.css">
    <link rel="stylesheet" href="/styles/style.css">
    <script defer src="/scripts/agora-4.js"></script>

</head>

<body>
    <div class="container">
        <aside>
            <div class="avatar-cont">
                <div class="avatar"></div>
            </div>
            <div class="sidebar">
                <div class="options">
                    <ul>
                        <li id="join"><svg width="49" height="49" viewBox="0 0 49 49" fill="none" class="options-icon"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M24.5 8.25C15.5398 8.25 8.25 15.5398 8.25 24.5C8.25 33.4602 15.5398 40.75 24.5 40.75C33.4602 40.75 40.75 33.4602 40.75 24.5C40.75 15.5398 33.4602 8.25 24.5 8.25ZM24.5 11.5C29.7211 11.5 34.2207 14.6005 36.2877 19.053C35.7858 18.8154 35.2999 18.5451 34.8334 18.2437C34.1687 17.8245 33.4148 17.3484 32.4609 16.9892C31.3738 16.5749 30.1859 16.375 28.8306 16.375C27.4754 16.375 26.2875 16.5749 25.2004 16.9876C24.2465 17.35 23.4925 17.8261 22.8084 18.2567C22.1941 18.6419 21.666 18.9766 21.016 19.222C20.2912 19.4966 19.5047 19.625 18.5362 19.625C17.5694 19.625 16.7829 19.4966 16.0598 19.222C15.4098 18.9766 14.8767 18.6403 14.2625 18.2503C14.0009 18.0861 13.71 17.9123 13.4175 17.7416C15.7039 14.0058 19.8086 11.5 24.5 11.5ZM24.5 37.5C17.3321 37.5 11.5 31.6679 11.5 24.5C11.5 23.1837 11.6999 21.9163 12.0655 20.7186C12.2183 20.8129 12.3661 20.8974 12.5254 20.9997C13.1933 21.4222 13.9489 21.9 14.9076 22.2607C15.9948 22.6751 17.181 22.875 18.5362 22.875C19.8899 22.875 21.0777 22.6751 22.1681 22.2624C23.122 21.9 23.876 21.4239 24.5601 20.9933C25.1744 20.6081 25.7025 20.2734 26.3525 20.0264C27.0756 19.7534 27.8621 19.625 28.8306 19.625C29.7991 19.625 30.5856 19.7534 31.3088 20.028C31.9571 20.2718 32.4869 20.6065 33.119 21.0063C33.7836 21.4255 34.5376 21.9016 35.4915 22.2624C36.0814 22.4866 36.707 22.6345 37.3651 22.7352C37.4447 23.3154 37.5 23.9004 37.5 24.5C37.5 31.6679 31.6679 37.5 24.5 37.5V37.5Z" />
                                <path
                                    d="M18.8125 29.375C20.1587 29.375 21.25 28.2837 21.25 26.9375C21.25 25.5913 20.1587 24.5 18.8125 24.5C17.4663 24.5 16.375 25.5913 16.375 26.9375C16.375 28.2837 17.4663 29.375 18.8125 29.375Z" />
                                <path
                                    d="M30.1875 29.375C31.5337 29.375 32.625 28.2837 32.625 26.9375C32.625 25.5913 31.5337 24.5 30.1875 24.5C28.8413 24.5 27.75 25.5913 27.75 26.9375C27.75 28.2837 28.8413 29.375 30.1875 29.375Z" />
                            </svg>
                        </li>
                        <li><svg width="49" height="49" viewBox="0 0 49 49" fill="none" class="options-icon"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M34.25 22.875C34.25 21.3166 33.145 20.0134 31.6809 19.6997C32.2659 18.7231 32.625 17.5938 32.625 16.375C32.625 12.7902 29.7098 9.875 26.125 9.875C23.6599 9.875 21.5409 11.2676 20.4375 13.294C19.3341 11.2676 17.2151 9.875 14.75 9.875C11.1652 9.875 8.25 12.7902 8.25 16.375C8.25 17.8408 8.757 19.1814 9.57762 20.2685C9.16746 20.5684 8.83358 20.9606 8.60295 21.4134C8.37233 21.8662 8.25142 22.3669 8.25 22.875V35.875C8.25 37.6674 9.70762 39.125 11.5 39.125H31C32.7924 39.125 34.25 37.6674 34.25 35.875V31.5882L40.75 34.8382V23.4633L34.25 26.7133V22.875ZM26.125 13.125C27.9174 13.125 29.375 14.5826 29.375 16.375C29.375 18.1674 27.9174 19.625 26.125 19.625C24.3326 19.625 22.875 18.1674 22.875 16.375C22.875 14.5826 24.3326 13.125 26.125 13.125ZM14.75 13.125C16.5424 13.125 18 14.5826 18 16.375C18 18.1674 16.5424 19.625 14.75 19.625C12.9576 19.625 11.5 18.1674 11.5 16.375C11.5 14.5826 12.9576 13.125 14.75 13.125ZM11.5 35.875V22.875H31L31.0033 35.875H11.5Z" />
                            </svg>
                        </li>
                        <li><svg width="49" height="49" viewBox="0 0 49 49" fill="none" class="options-icon"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M16.375 22.875H19.625V26.125H16.375V22.875ZM16.375 29.375H19.625V32.625H16.375V29.375ZM22.875 22.875H26.125V26.125H22.875V22.875ZM22.875 29.375H26.125V32.625H22.875V29.375ZM29.375 22.875H32.625V26.125H29.375V22.875ZM29.375 29.375H32.625V32.625H29.375V29.375Z" />
                                <path
                                    d="M13.125 40.75H35.875C37.6674 40.75 39.125 39.2924 39.125 37.5V14.75C39.125 12.9576 37.6674 11.5 35.875 11.5H32.625V8.25H29.375V11.5H19.625V8.25H16.375V11.5H13.125C11.3326 11.5 9.875 12.9576 9.875 14.75V37.5C9.875 39.2924 11.3326 40.75 13.125 40.75ZM35.875 18L35.8766 37.5H13.125V18H35.875Z" />
                            </svg>
                        </li>
                        <li><svg width="49" height="49" viewBox="0 0 49 49" fill="none" class="options-icon"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M17.1875 28.5625C14.62 28.5625 12.4701 30.285 11.7649 32.625H8.25V35.875H11.7649C12.4701 38.215 14.62 39.9375 17.1875 39.9375C19.755 39.9375 21.9049 38.215 22.6101 35.875H40.75V32.625H22.6101C21.9049 30.285 19.755 28.5625 17.1875 28.5625ZM17.1875 36.6875C15.8436 36.6875 14.75 35.5939 14.75 34.25C14.75 32.9061 15.8436 31.8125 17.1875 31.8125C18.5314 31.8125 19.625 32.9061 19.625 34.25C19.625 35.5939 18.5314 36.6875 17.1875 36.6875ZM31.8125 18.8125C29.245 18.8125 27.0951 20.535 26.3899 22.875H8.25V26.125H26.3899C27.0951 28.465 29.245 30.1875 31.8125 30.1875C34.38 30.1875 36.5299 28.465 37.2351 26.125H40.75V22.875H37.2351C36.5299 20.535 34.38 18.8125 31.8125 18.8125ZM31.8125 26.9375C30.4686 26.9375 29.375 25.8439 29.375 24.5C29.375 23.1561 30.4686 22.0625 31.8125 22.0625C33.1564 22.0625 34.25 23.1561 34.25 24.5C34.25 25.8439 33.1564 26.9375 31.8125 26.9375Z" />
                                <path
                                    d="M25.8601 13.125C25.1549 10.785 23.005 9.0625 20.4375 9.0625C17.87 9.0625 15.7201 10.785 15.0149 13.125H8.25V16.375H15.0149C15.7201 18.715 17.87 20.4375 20.4375 20.4375C23.005 20.4375 25.1549 18.715 25.8601 16.375H40.9531V13.125H25.8601ZM20.4375 17.1875C19.0936 17.1875 18 16.0939 18 14.75C18 13.4061 19.0936 12.3125 20.4375 12.3125C21.7814 12.3125 22.875 13.4061 22.875 14.75C22.875 16.0939 21.7814 17.1875 20.4375 17.1875Z" />
                            </svg>
                        </li>
                    </ul>
                </div>
            </div>
        </aside>

        <div class="seperator"></div>

        <main>
            <div class="meeting-container">
                <div class="first">
                    <h1 class="meeting-title"><%= locals.title || " " %></h1>
                    <div class="video-sec-cont">
                        
                        <div class="video-container">
                                <div class="video-streams" id="video-streams">
                                    <div class="local-stream" id="local-stream"></div>
                                </div>
                        </div>
                    </div>
                    <div class="controls">
                        <button class="call-end" id="call-end"><svg width="56" height="56" viewBox="0 0 56 56" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_15_4)">
                                    <path
                                        d="M20.7715 33.8951C20.9849 33.8922 21.1957 33.8472 21.3916 33.7627C21.5876 33.6783 21.7651 33.556 21.9137 33.4029C22.0624 33.2498 22.1795 33.0689 22.2582 32.8705C22.3369 32.6721 22.3757 32.4602 22.3724 32.2468L22.3189 28.584C23.412 27.9716 25.5561 26.9302 27.5644 26.9009C29.5727 26.8716 31.7463 27.8499 32.8568 28.4301L32.9103 32.0929C32.9133 32.3063 32.9583 32.517 33.0427 32.713C33.1272 32.909 33.2494 33.0864 33.4025 33.2351C33.5556 33.3838 33.7365 33.5009 33.9349 33.5796C34.1333 33.6583 34.3452 33.6971 34.5586 33.6938L43.75 33.5595C43.9634 33.5566 44.1742 33.5116 44.3702 33.4272C44.5662 33.3427 44.7436 33.2204 44.8923 33.0673C45.041 32.9142 45.158 32.7333 45.2367 32.535C45.3154 32.3366 45.3542 32.1246 45.3509 31.9112L45.2599 25.6795C45.2471 24.8063 44.8809 23.9658 44.2506 23.3717C42.5645 21.7864 36.3722 16.6262 27.4151 16.757C18.4581 16.8878 12.4202 22.2277 10.7789 23.8617L10.7472 23.8943C10.1494 24.5098 9.82696 25.327 9.83964 26.1956L9.93065 32.4273C9.93358 32.6407 9.97857 32.8515 10.063 33.0475C10.1475 33.2435 10.2698 33.4209 10.4229 33.5696C10.576 33.7183 10.7569 33.8353 10.9552 33.914C11.1536 33.9927 11.3656 34.0315 11.579 34.0282L20.7715 33.8951ZM13.0911 26.1481C14.5285 24.7171 19.7533 20.1188 27.4637 20.0073C35.1983 19.8944 40.5624 24.3656 42.0107 25.7269L42.078 30.3341L36.1358 30.4209L36.0924 27.4498C36.0885 27.1798 36.0175 26.915 35.8856 26.6794C35.7538 26.4437 35.5653 26.2447 35.3372 26.1002C35.176 25.9979 31.3325 23.5949 27.5181 23.6506C23.7037 23.7063 19.932 26.2206 19.7739 26.3275C19.5491 26.4774 19.3656 26.6814 19.2404 26.9208C19.1152 27.1602 19.0522 27.4273 19.0572 27.6974L19.0995 30.6697L13.1573 30.7565L13.0911 26.1481Z"
                                        fill="#2D3B41" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_15_4">
                                        <rect width="39" height="39" fill="white"
                                            transform="translate(55.1484 27.1715) rotate(134.163)" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </button>
                        <button class="microphone" id="microphone">
                            <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M35.2738 32.9761L29.7683 27.4706C31.5377 25.2034 32.4991 22.4101 32.5 19.5341H29.2499C29.2488 21.5481 28.6188 23.5115 27.4478 25.1501L25.0883 22.7906C25.6538 21.8302 25.9999 20.7269 25.9999 19.5341V9.78413C25.9999 6.1815 23.0993 3.25 19.5341 3.25C19.4203 3.25 19.3066 3.26463 19.1944 3.29063C17.5258 3.37113 15.9521 4.09019 14.799 5.29894C13.6459 6.5077 13.0018 8.11358 12.9999 9.78413V10.7023L6.02382 3.72613L3.72607 6.02388L32.9761 35.2739L35.2738 32.9761ZM16.2499 9.78413C16.2499 7.99175 17.7076 6.53413 19.4999 6.53413C19.5893 6.534 19.6785 6.52584 19.7664 6.50975C21.4304 6.63 22.7499 8.0535 22.7499 9.78413V19.5341C22.7499 19.8136 22.7028 20.0785 22.6346 20.3369L16.2499 13.9523V9.78413ZM9.74995 19.5341H6.49995C6.49995 26.1511 11.4724 31.6176 17.8749 32.422V35.7841H21.1249V32.4204C22.368 32.265 23.5819 31.9305 24.7292 31.4275L22.1974 28.8958C21.321 29.1513 20.4129 29.282 19.4999 29.2841C14.1228 29.2841 9.74995 24.9096 9.74995 19.5341Z"
                                    fill="#2D3B41" />
                                <path
                                    d="M13.0181 19.7145C13.0655 21.3704 13.7445 22.9454 14.9159 24.1168C16.0873 25.2882 17.6623 25.9672 19.3182 26.0146L13.0181 19.7145Z"
                                    fill="#2D3B41" />
                            </svg>
    
                        </button>
                        <button class="camera" id="camera">
                            <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M19.5 13C15.977 13 13 15.977 13 19.5C13 23.023 15.977 26 19.5 26C23.023 26 26 23.023 26 19.5C26 15.977 23.023 13 19.5 13ZM19.5 22.75C17.7694 22.75 16.25 21.2306 16.25 19.5C16.25 17.7694 17.7694 16.25 19.5 16.25C21.2306 16.25 22.75 17.7694 22.75 19.5C22.75 21.2306 21.2306 22.75 19.5 22.75Z"
                                    fill="#2D3B41" />
                                <path
                                    d="M32.5 8.125H28.2977L23.8989 3.72613C23.7482 3.57493 23.5692 3.45503 23.372 3.37331C23.1748 3.2916 22.9634 3.24969 22.75 3.25H16.25C16.0366 3.24969 15.8252 3.2916 15.628 3.37331C15.4308 3.45503 15.2518 3.57493 15.1011 3.72613L10.7023 8.125H6.5C4.70762 8.125 3.25 9.58263 3.25 11.375V29.25C3.25 31.0424 4.70762 32.5 6.5 32.5H32.5C34.2924 32.5 35.75 31.0424 35.75 29.25V11.375C35.75 9.58263 34.2924 8.125 32.5 8.125ZM6.5 29.25V11.375H11.375C11.8073 11.375 12.22 11.2044 12.5239 10.8989L16.9227 6.5H22.0773L26.4761 10.8989C26.6268 11.0501 26.8058 11.17 27.003 11.2517C27.2002 11.3334 27.4116 11.3753 27.625 11.375H32.5L32.5033 29.25H6.5Z"
                                    fill="#2D3B41" />
                            </svg>
    
                        </button>
                        <div class="volume-slider-wrapper">
                            <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M26 34.125C31.7314 31.6111 35.7484 26.1479 35.7484 19.5C35.7484 12.8521 31.7314 7.38888 26 4.875V8.125C29.8789 10.3773 32.4984 14.7014 32.4984 19.5C32.4984 24.2986 29.8789 28.6227 26 30.875V34.125Z"
                                    fill="#2D3B41" />
                                <path
                                    d="M26 11.375V27.625C27.9906 25.8375 29.25 22.3779 29.25 19.5C29.25 16.6221 27.9906 13.1625 26 11.375ZM6.5 27.625H10.8826L20.2231 33.852C20.4681 34.0147 20.7526 34.1082 21.0464 34.1225C21.3402 34.1368 21.6323 34.0714 21.892 33.9333C22.1514 33.7944 22.3682 33.5877 22.5193 33.3353C22.6704 33.0829 22.7501 32.7942 22.75 32.5V6.50002C22.7498 6.20608 22.67 5.91769 22.5189 5.66556C22.3678 5.41342 22.1511 5.207 21.892 5.06826C21.6329 4.92952 21.341 4.86367 21.0474 4.87771C20.7538 4.89176 20.4695 4.98517 20.2248 5.14802L10.8826 11.375H6.5C4.70762 11.375 3.25 12.8326 3.25 14.625V24.375C3.25 26.1674 4.70762 27.625 6.5 27.625ZM6.5 14.625H11.375C11.4286 14.625 11.4741 14.599 11.5261 14.5941C11.7423 14.5721 11.952 14.5081 12.1436 14.4056C12.1859 14.3813 12.2362 14.378 12.2769 14.352L19.5 9.53552V29.4645L12.2769 24.648C12.2362 24.6204 12.1859 24.6155 12.1436 24.5944C11.9517 24.4899 11.7405 24.4257 11.5229 24.4059C11.4709 24.401 11.427 24.375 11.375 24.375H6.5V14.625Z"
                                    fill="#2D3B41" />
                            </svg>
    
                            <input type="range" name="volume-slider" id="volume-slider" class="volume-slider" min="0"
                                max="100" value="50">
                        </div>
                    </div>
                </div>
                <div class="second">
                    <div class="chat-section">
                        <div class="chat-participants-tab-wrapper">
                            <span class="chat-tab">Chat</span>
                            <span class="parti-tab">Participants</span>
                        </div>
                        <div class="chat-messages">
    
                        </div>
                        <div class="chat-form-wrapper">
                            <div class="chat-seperator-wrap">
                                <div class="chat-seperator"></div>
                            </div>
                            <form action="/">
                                <input type="text" name="chat-message" id="chat-message" placeholder="Write a message..">
                                <button class="send-message-btn" type="submit"><svg width="39" height="39" viewBox="0 0 39 39" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M34.8175 18.0294L7.19248 5.02937C6.91433 4.89777 6.60451 4.84793 6.29913 4.88567C5.99374 4.9234 5.70537 5.04715 5.46762 5.24249C5.22987 5.43783 5.05254 5.69672 4.95629 5.98899C4.86003 6.28125 4.84883 6.59485 4.92397 6.89324L8.07485 19.5L4.92397 32.1067C4.84812 32.4052 4.85884 32.7192 4.95487 33.0118C5.0509 33.3044 5.22827 33.5637 5.46623 33.7592C5.7042 33.9547 5.99291 34.0784 6.29862 34.1159C6.60432 34.1533 6.91436 34.1029 7.19248 33.9706L34.8175 20.9706C35.0966 20.8394 35.3327 20.6314 35.498 20.371C35.6634 20.1106 35.7512 19.8085 35.7512 19.5C35.7512 19.1915 35.6634 18.8894 35.498 18.629C35.3327 18.3686 35.0966 18.1606 34.8175 18.0294ZM8.90685 29.5701L10.2702 24.115L19.5002 19.5L10.2702 14.885L8.90685 9.42987L30.3081 19.5L8.90685 29.5701Z" />
                                    </svg>
                                </button>
                            </form>
    
                        </div>
                        
                    </div>
                    
                    
                    <div class="timer-wrapper">
                        <div class="timer-heading-wrapper">
                            <svg width="39" height="39" viewBox="0 0 39 39" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M19.5 8.125C12.3321 8.125 6.5 13.9571 6.5 21.125C6.5 28.2929 12.3321 34.125 19.5 34.125C26.6679 34.125 32.5 28.2929 32.5 21.125C32.5 13.9571 26.6679 8.125 19.5 8.125ZM19.5 30.875C14.1229 30.875 9.75 26.5021 9.75 21.125C9.75 15.7479 14.1229 11.375 19.5 11.375C24.8771 11.375 29.25 15.7479 29.25 21.125C29.25 26.5021 24.8771 30.875 19.5 30.875Z"
                                    fill="#2D3B41" />
                                <path
                                    d="M17.875 14.625H21.125V22.75H17.875V14.625ZM14.625 3.25H24.375V6.5H14.625V3.25ZM31.3511 12.5239L28.1011 9.27387L30.3989 6.97613L33.6489 10.2261L31.3511 12.5239Z"
                                    fill="#2D3B41" />
                            </svg>
    
                            <span>Remaining Time</span>
                        </div>
                        <span class="remaining-time">24 : 49</span>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <div class="popup-overlay"></div>
    <div class="meeting-link-popup">
        <h3>Meeting Created</h3>
        <div class="meeting-link-wrapper">

        <span class="link-label">Here's the link to join your meeting</span>
        <span class="meeting-link">https://localhost:3000/join/<%-meetid%></span>
        <button onclick="copymeetlink()" class="meeting-link-copy">
            <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19 3.5H16.75C16.75 3.23478 16.6446 2.98043 16.4571 2.79289C16.2696 2.60536 16.0152 2.5 15.75 2.5H8.25C7.98478 2.5 7.73043 2.60536 7.54289 2.79289C7.35536 2.98043 7.25 3.23478 7.25 3.5H5C3.897 3.5 3 4.397 3 5.5V20.5C3 21.603 3.897 22.5 5 22.5H19C20.103 22.5 21 21.603 21 20.5V5.5C21 4.397 20.103 3.5 19 3.5ZM19 20.5H5V5.5H7V7.5H17V5.5H19V20.5Z" fill="#2D3B41"/>
                </svg>                
            Copy link
        </button>

        </div>
        <div class="meeting-id-wrapper">
            <span class="link-label">Your meeting ID</span>
        <span class="meeting-link" id="meeting-id"><%-meetid%></span>
        <button onclick="copymeetid()" class="meeting-id-copy">
            <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19 3.5H16.75C16.75 3.23478 16.6446 2.98043 16.4571 2.79289C16.2696 2.60536 16.0152 2.5 15.75 2.5H8.25C7.98478 2.5 7.73043 2.60536 7.54289 2.79289C7.35536 2.98043 7.25 3.23478 7.25 3.5H5C3.897 3.5 3 4.397 3 5.5V20.5C3 21.603 3.897 22.5 5 22.5H19C20.103 22.5 21 21.603 21 20.5V5.5C21 4.397 20.103 3.5 19 3.5ZM19 20.5H5V5.5H7V7.5H17V5.5H19V20.5Z" fill="#2D3B41"/>
                </svg>                
            Copy ID
        </button>
        </div>
        <button onclick="closepopup()" class="close-popup">Close</button>
    </div>
</body>
<script defer src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
     let CHANNEL = <%- JSON.stringify(meetid) %>
     let nuserid = <%- JSON.stringify(userid) %>
    let meetlink = document.querySelector('.meeting-link').innerHTML
    function copymeetlink(){
        navigator.clipboard.writeText(meetlink)
    }
    function copymeetid( ){
        navigator.clipboard.writeText(CHANNEL)
    }

    function closepopup(){
        document.querySelector(".meeting-link-popup").style.display = "none";
        document.querySelector(".popup-overlay").style.display = "none";

    }
</script>
<script defer src="/scripts/main.js"></script>
<script defer src="/scripts/agora-config.js"></script>

</html>